.fof8-app {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .main-content {
    text-align: center;
    background-color: #efefef;
    padding: 1.2em;

    .main-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}