.App {
  text-align: center;
}
.fof8-app {
  background-color: #efefef;
  padding: 1.2em;

  .record-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.green-background {
  background-color: green;
}