.App {
  text-align: center;
}
.fof8-app {
  background-color: #efefef;
  padding: 1.2em;
}
.green-background {
  background-color: green;
}


//.list-group-item{
//  &.active:hover{
//
//  }
//  &active:hover{
//    background-color: #d3d3d3;
//  }
//}